@media screen and (max-width: 360px) {
    main {
        width: 360px;
        position: relative;
        top: 100px;
        left: 120px;
    }
    header{
        position: relative;
        top: 20px;
        left: 140px;
    }
    .nav-bar__main--left{
        font-size: 22px;
        position: relative;
        top: 150px;
        left: 180px;
    }
    .nav-bar__main--right{
        font-size: 22px;
        position: relative;
        top: 150px;
        left: -75px;
    }
    .nav-bar__main--middle{
        position: relative;
        top: 0;
        left: 15px;
    }

    .hero {
        top: -46px;
        left: -120px;
    }
    .sub-menu-wrap{
        width: 610px;
        z-index: 101;
        background-color: black;
        font-size: 40px;
    }
    .footer{
        position: relative;
        top: 0px;
        left: 150px;
        margin-top: 120px;
    }
    #contactPage{
        position: relative;
        top: 0px;
        left: 15px;
    }
}
@media screen and (max-width: 600px) and (min-width:360px){
    a{
        color: red;
    }
    main {
        width: 360px;
        position: relative;
        top: 100px;
        left: 120px;
    }
    header{
        position: relative;
        top: 20px;
        left: 140px;
    }
    .nav-bar__main--left{
        font-size: 22px;
        position: relative;
        top: 150px;
        left: 180px;
    }
    .nav-bar__main--right{
        font-size: 22px;
        position: relative;
        top: 150px;
        left: -75px;
    }
    .nav-bar__main--middle{
        position: relative;
        top: 0;
        left: 15px;
    }

    .hero {
        top: -46px;
        left: -120px;
    }
    .sub-menu-wrap{
        width: 610px;
        z-index: 101;
        background-color: black;
        font-size: 40px;
    }
    .footer{
        position: relative;
        top: 0px;
        left: 150px;
        margin-top: 120px;
    }
    #contactPage{
        position: relative;
        top: 0px;
        left: 15px;
    }
}